$page-background: #f7f7f7;
$content-text: #666;
$header-background: $page-background;
$calendar-text: $content-text;
$calendar-details-background: #dcdcdc;
$calendar-details-background-alt: #cecece;
$calendar-day-background: #ffffff;
$toast-danger-background: #C62828;
