<div class="remodal" data-remodal-id="reset-local" data-remodal-options="hashTracking: false">

    <h1>Git Sync - Reset Local Copy</h1>
    <div class="step-0">
        <div class="panel">
            <p>By proceeding with the reset, all your local changes, if any, will be reverted to the repository state.</p>

            <p>
                Are you sure you want to continue?
            </p>
        </div>
    </div>
    <div class="button-bar">
        <a class="button secondary" data-remodal-action="cancel" href="#">No</a>
        <a class="button" data-gitsync-action="reset-local" href="#"> Yes</a>
    </div>
</div>
