{% extends "forms/default/field.html.twig" %}

{% block label %}{% endblock %}

{% block input %}
    <script type="text/javascript">
        GitSync = {
            'first_time': {{ git_sync.first_time|json_encode|raw }},
            'git_installed': {{ git_sync.git_installed|json_encode|raw }}
        };
    </script>
    <a href="#" data-gitsync-useraction="wizard" class="button button-primary"><i class="fa fa-fw fa-magic"></i> Wizard</a>
    <a href="#" data-gitsync-useraction="sync" class="button button-primary"><i class="fa fa-fw fa-cloud"></i> Synchronize</a>
    <span class="danger button-bar"><a href="#" data-gitsync-useraction="reset" class="button danger"><i class="fa fa-fw fa-history"></i> Reset Local Copy</a></span>
    {% include 'partials/modal-wizard.html.twig' %}
    {% include 'partials/modal-reset.html.twig' %}
{% endblock %}
